@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply font-sans text-neutral-200 bg-black antialiased tracking-tight;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  h1, h2, h3, h4 {
    @apply font-semibold tracking-tight;
  }

  @keyframes blindsDown {
    0% {
      max-height: 0;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      max-height: 500px;
      opacity: 1;
      transform: scaleY(1);
      transform-origin: top;
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%) skewX(-20deg);
    }
    33.33% {
      transform: translateX(calc(100% + 100vw)) skewX(-20deg);
    }
    33.34% {
      transform: translateX(-100%) skewX(-20deg);
    }
    66.66% {
      transform: translateX(calc(100% + 100vw)) skewX(-20deg);
    }
    66.67% {
      transform: translateX(-100%) skewX(-20deg);
    }
    100% {
      transform: translateX(calc(100% + 100vw)) skewX(-20deg);
    }
  }

  .shimmer-effect {
    z-index: 1;
  }

  .shimmer-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 215, 0, 0.1) 20%,
      rgba(253, 185, 49, 0.4) 40%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(253, 185, 49, 0.4) 60%,
      rgba(255, 215, 0, 0.1) 80%,
      transparent 100%
    );
    filter: blur(2px);
    animation: shimmer 9s infinite linear;
    pointer-events: none;
  }
}
